/* CSS global style for Desktop, and Mobile first */

body{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: url(../images/explodyseacolours.jpg) no-repeat;
  background-size: auto;
  width: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hero{
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
}

.profile{
  display: inline;
  margin: 15% 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    /*margin-top: 30px;*/
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -50%;
    left: 70%;
    font-size: 60px;
    cursor: pointer;
}

.mobNav{
  display: inline-block;
  padding: 2% 20%;
  font-size:4em;
  cursor:pointer;
  color: rgba(66, 244, 197, 0.55);
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.desktop{
  display: none;
}

/*First breakpoint  (Medium/ Tablet size size) */
@media screen and (min-width: 500px) {
  body{
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background: url(../images/explodyseacolours.jpg) no-repeat;
    background-size: auto;
    width: 100%;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
    width: 25%;
  }

  li a{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    color: red;
    padding: 5%;
  }

  li a:hover{
    background: grey;

  }

  .hero{
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
  }

  .profile{
    display: inline;
    margin: 15% 0;
  }

  .mobNav{
    display: none;
  }

  .desktop{
    display: block;
  }

}
/*End of first breakpoint */


/*Start Of second breakpoint (Desktop Size) */
@media screen and (min-width: 1000px) {
  body{
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background: url(../images/explodyseacolours.jpg) no-repeat;
    background-size: auto;
    width: 100%;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
    width: 25%;
  }

  li a{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    color: red;
    padding: 5%;
  }

  li a:hover, a:active{
    background: grey;
  }

  .hero{
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
  }

  .profile{
    display: inline;
    margin: 15% 0;
  }

}
/*End of second breakpoint */


/*End of CSS file */
