/* CSS global style for Desktop, and Mobile first */

body{
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-image: url(../images/forest.jpg);
  width: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  width: 100%;
}

li a{
  text-decoration: none;
  display: block;
  font-size: 2em;
  color: red;
  padding: 5%;
  text-align: center;
}

li a:hover{
  background: grey;

}

.hero{
  /*display: block;*/
  margin: 0;
  padding: 0;
}

.profile{
  display: block;
  margin: 0;
  padding: 15% 34%;
  background-color: rgba(30, 30, 30, 0.5);
}

/*First breakpoint  (Medium/ Tablet size size) */
@media screen and (min-width: 500px) {
  body{
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background-image: url(../images/forest.jpg);
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
    width: 25%;
  }

  li a{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    color: red;
    padding: 5%;
  }

  li a:hover{
    background: grey;

  }

  .hero{
    display: block;
    margin: 0;
    padding: 0;
  }

  .profile{
    display: block;
    margin: 0;
    padding: 15% 45% 15% 45%;
    background-color: rgba(30, 30, 30, 0.5);
  }

}
/*End of first breakpoint */


/*Start Of second breakpoint (Desktop Size) */
@media screen and (min-width: 1000px) {
  body{
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background-image: url(../images/forest.jpg);
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
    width: 25%;
  }

  li a{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    color: red;
    padding: 5%;
  }

  li a:hover{
    background: grey;

  }

  .hero{
    display: block;
    margin: 0;
    padding: 0;
  }

  .profile{
    margin: 0;
    padding: 15% 45% 15% 45%;
    background-color: rgba(30, 30, 30, 0.5);
  }

}
/*End of second breakpoint */


/*End of CSS file */
